    h1{ color:rgba(139, 0, 0, 0.781);
    text-align:center;
    font-family:"century gothic";
      }
    h2{ color: rgba(0, 0, 255, 0.507);
    text-align:center;
    font-family:"century gothic";
    }
    p{ color:rgba(184, 48, 116, 0.356);
    text-align:center;
    font-family:"century gothic";
    }